body{
    background-image: url("kepek/background.jpg");
    background-color: royalblue;
    background-repeat: round;
    background-size: auto;
    background-attachment: fixed;
}
p{
    color: white;
    text-decoration: none;
    text-align: center;
}
p:hover{
    color: red;
    cursor: context-menu;
}
.szam{
    font-variant: small-caps;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 75px;
    cursor: context-menu;
    color: beige;
    cursor: not-allowed;
}